<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">

    <link rel="icon" href="" type="image/x-icon">
    <script src="https://cdn.socket.io/4.6.1/socket.io.min.js"></script>
    <title>Stream Deck</title>


    <style>
        {{ styles | safe }}
    </style>

</head>

<body style="background-image: url('{{ config.background }}');">
    

    {{ html | safe }}


    <script>
        const socket = io('http://192.168.0.45:5000');
        // const socket = io('http://localhost:5000');

        function sendCommand(plugin, command, args = {}) {

            if (["javascript", "js"].includes(plugin)) {
                // TODO

            }

            else {

                socket.emit('command', [plugin, command, args]);
                console.log(`Command sent: ${plugin}, ${command}, ${JSON.stringify(args)}`);
            }
        }

        socket.on('response', function (data) {
            console.log(data);
        });


        document.querySelector('body').addEventListener('click', function (event) {
            // if not fullescreen 
            if (!document.fullscreenElement) {
                // request fullscreen
                document.documentElement.requestFullscreen();
            }
        });

    </script>

</body>

</html>